@page "/update"

<h1 class="text-center">Add now</h1>

<div class="m-4 justify-content-center">
	<InputText type="text" class="form-control m-3" @bind-Value="data.SiteName" placeholder="Site name"></InputText>
	<div id="" class="text-danger m-3">@error.siteNameError</div>
	<InputText type="text" class="form-control m-3" @bind-Value="data.EmailOrPone" placeholder="Email or pone"></InputText>
	<div id="" class="text-danger m-3">@error.emailOrPoneError</div>
	<div id="" class="text-danger m-3">@error.emailOrPoneError</div>
	<div id="" class="m-3 text-center">@generatedPassword</div>
	@if (!flag)
	{
		<button class="btn bg-info mt-5 " @onclick="Generator">Generation</button>
	}

	@if (flag)
	{
		<button class="btn bg-primary mt-5" @onclick="Save">Save</button>
	}
	<button class="btn bg-primary mt-5" @onclick="Save">Save</button>

</div>